section{
    background: url('https://media1.giphy.com/media/TI3WgK3V8r32e3BVJF/giphy.gif?cid=790b76115d34fa95645a2e58597c3387&rid=giphy.gif');
    background-repeat: space repeat;
    height: 477px;
}

main{

    margin-left: 38%;
    width: 20%;
    font-family: monospace;
    font-size: 20px;
    padding: 2%;
    text-align: center;
}

button{

    width: 40%;
    font-family: monospace;
    font-size: 20px;
    background-color: #fdc506;
    font-weight: 900;
}